@charset "UTF-8";

/*기본색*/
:root {
    --main-color: #5D9AB2;
    --accent-color: #BF6A7A;
    --dark-color: #2B5566;
}

/*기본 설정: 폰트 크기*/
@media (max-width: 599px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    :root {
        font-size: 18px;
    }
}

body {font-size: 16px;}

/*헤더*/
header {
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: solid 1px #ddd;
}

header .container {
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*헤더: 로고*/
.logo {
    display: inline-block;
    height: 70px;
    margin-top: 17px;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    color: #000;
}

/*헤더: 토글버튼*/
.toggle {
    margin-right: 10px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 28px;
    opacity: 0.3;
    cursor: pointer;
}

.toggle:hover {
    opacity: 0.19;
}

@media (max-width: 767px) {
    .mainMenu {
        display:none;
    }
    
    header .container-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .mainMenu {
        display: block !important;
    }
    
    .toggle {
        display: none;
    }
}

/*헤더: 메뉴*/
.mainMenu {
    font-family: 'Noto Sans KR', sans-serif;
}

.mainMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainMenu a {
    display: block;
    padding: 15px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.mainMenu a:hover{
    background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px){
    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .mainMenu ul {
        display: flex;
    }
}

/*페이지 전체*/
body {
    margin: 0;
    font-family: 'Alata', sans-serif;
}

/*메인배너*/
.banner {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 450px;
    background-image: url(img/blackboard.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

/*메인배너 제목*/
.banner h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15vw;
    font-family: 'Noto Sans KR', sans-serif;
}

@media (min-width:768px) {
    .banner h1 {
        font-size: 115px;
    }
}

/*메인배너 소개글*/
.banner p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

@media (min-width:768px) {
    .banner p {
        font-size: 24px;
    }
}

/*메인배너 링크*/
.banner a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #facf4d;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

/*메인배너 커서 올릴 시*/
.banner a:hover {
    background-image: linear-gradient(
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.2)
    );
}

/*소개*/
.introduction {
    font-family: 'Noto Sans KR', sans-serif;
}

.introduction .container {
    padding-top: 80px;
    padding-bottom: 20px;
}

/*소개 텍스트*/
.introduction .text {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

/*소개 제목*/
.introduction h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

/*소개 내용*/
.introduction p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

/*소개 링크*/
.introduction a {
    color: #facf4d;
    text-decoration: none;
}

.introduction a:hover {
    text-decoration: underline;
}

/*소개 아이콘*/
.introduction .icon {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: #ddd;
    color: #fff;
}

/*about 페이지: 기사 */
.post .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px;
}

.post h1 {
    padding-left: 0.5rem;
    border-left: solid 0.75rem #facf4d;
    font-size: 2rem;
}

.post img {
    max-width: 50%;
}

.post p {
    font-size: 1rem;
    line-height: 2;
}

/*about 페이지: 빵 부스러기 리스트*/
.bread ol {
    display: flex;
    margin:0;
    padding: 0;
    list-style: none;
}

.bread a::after {
    margin-left: 10px;
    content: '\f054';
    font-family: "FontAwesome";
    opacity: 0.3;
}

.bread a {
    display: block;
    padding: 5px;
    color: inherit;
    font-size: 0.875rem;
    text-decoration: none;
}

.bread a:hover{
    background-color: rgba(0,0,0,0.3);
}

/*푸터*/
footer {
    color: #fff;
    background-color: #a3a3a3;
}

footer .container {
    padding: 40px 20px;
}

@media (min-width:768px) {
    footer .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*푸터: 사이트정보*/
.info {
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 30px;
}

.info h2 {
    margin-top:0;
    margin-bottom: 10px;
    font-size: 30px;
}

.info p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Alata', sans-serif;
    font-size: 14px;
}

@media (min-width:768px) {
    .info {
        flex: 0 0 30%;
    }
}

/*푸터: 푸터 메뉴*/
.footMenu {
    font-family: 'Noto Sans KR', sans-serif;
}

@media (min-width:768px) {
    .footMenu {
        display: flex;
        flex: 0 0 70%;
    }
}

.footMenu div {
    margin-bottom: 20px;
}

@media (min-width:768px) {
    .footMenu div {
        flex:1;
    }
    
    .footMenu div:not(:first-child) {
        margin-left: 20px;
    }
}

.footMenu h3 {
    margin-top:0;
    margin-bottom: 10px;
    border-bottom: solid 1px currentColor;
    font-size: 14px;
}

.footMenu ul {
    margin:0;
    padding:0;
    list-style: none;
}

.footMenu a {
    display: block;
    padding: 1px;
    color:inherit;
    font-size: 12px;
    text-decoration: none;
}

.footMenu a:hover {
    background-color: rgba(0,0,0,0.3);
}

/*푸터: 저작권*/
.copyright {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
    font-family: 'Alata', sans-serif;
}

@media (min-width:768px) {
    .copyright {
        flex: 0 0 100%;
    }
}

/*푸터: SNS*/
.sns {
    margin-top: 20px;
}

.sns ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.sns a {
    display: block;
    margin-right: 8px;
    padding: 0;
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    border: solid 1px currentColor;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
}

.sns a:hover {
    background-color: rgba(0,0,0,0.3);
}